ignore
docs/*/*.pptx
*.DS_Store

*.csv
!files/utf8/Visually_Guided_Reaching*11_49.csv
!files/utf8_2/Visually_Guided_Reaching*LEFT*.csv
!code/v2/testfiles/Visually_Guided_Reaching_-_Child__4_target_-_LEFT_-_10_06.csv

*.mp4
!code/animations/Ball*.mp4
!code/animations/newfilter/*
!code/v2/testfiles/*.mp4

*/__pycache__
*/*/__pycache__
*.pyc
code/v1.1/visualisations/animations/plotly_test*
code/v1.1/visualisations/animations/callback.py
code/v1.1/test-gui

code/v1.1
code/v2/Gaze-parameters.xlsx
code/v2/nb0_preprocessing.ipynb
code/v2/test.ipynb

.vscode/settings.json
