ignore
docs/*/*.pptx
*.DS_Store

*.csv
!files/utf8/Visually_Guided_Reaching*11_49.csv
!files/utf8_2/Visually_Guided_Reaching*LEFT*.csv

*.mp4
!code/animations/Ball*.mp4
!code/animations/newfilter/*
!code/v2/animation_example.mp4

*/__pycache__
*/*/__pycache__
*.pyc
code/v1.1/visualisations/animations/plotly_test*
code/v1.1/visualisations/animations/callback.py
code/v1.1/test-gui

code/v1.1
code/v2/Gaze-parameters.xlsx

.vscode/settings.json
